<h1>Editing Project Phase</h1>

<%= render 'form', project_phase: @project_phase %>

<%= link_to 'Show', project_project_phase_path(@project, @project_phase) %> |
<%= link_to 'Back', project_path(@project_phase.project) %>
